blinker==1.8.2
certifi==2024.8.30
click==8.1.7
cloudinary==1.41.0
colorama==0.4.6
distlib==0.3.9
filelock==3.16.1
Flask==3.0.3
Flask-Admin==1.6.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
fpdf==1.7.2
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==3.0.2
platformdirs==4.3.6
PyMySQL==1.1.1
python-docx==1.1.2
six==1.17.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.27.1
Werkzeug==3.1.2
WTForms==3.2.1
distlib==0.3.9
filelock==3.16.1
fpdf==1.7.2
platformdirs==4.3.6
virtualenv==20.27.1
