.table-wrapper {
  max-height: 300px; /* Chiều cao tối đa cho bảng */
  overflow-y: auto; /* Kích hoạt cuộn dọc */
  border: 1px solid #dee2e6; /* Viền bảng */
}

.table-wrapper table thead th {
  position: sticky;
  top: 0; /* Giữ cố định phần tiêu đề */
  background: #f8f9fa; /* Màu nền tiêu đề */
  z-index: 2; /* Đảm bảo tiêu đề luôn nằm trên các hàng */
}


.sidebar {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.active-menu {
  color: #dc3545 !important;
  text-decoration: underline;
}
.col-stt{
    width:5%;
}
.col-book{
    width:45%;
}
.col-cate{
    width:15%;
}
.col-author{
    width:25%;
}
.col-quantity{
    width:10%;
}

#searchResults {
    position: absolute;
    background-color: white;
    z-index: 10;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
}

#searchResults .list-group-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#searchResults .list-group-item:hover {
    background-color: #f1f1f1; /* Màu nền khi hover */
}