{% extends 'layout/base.html' %}
{% block css %}
<link href="{{ url_for('static', filename='css/import.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row flex-grow-1 mt-5">
    <!-- Sidebar -->
    <div class="col-lg-3 col-md-4 d-md-block pb-4">
        <div class="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item"><a href="{{url_for('bill')}}" class="nav-link text-dark active-menu">Danh sách đơn hàng</a></li>
                <hr>
                <li class="nav-item"><a href="{{url_for('create_bill')}}" class="nav-link text-dark">Lập hóa đơn</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9 col-md-8">
        <div>
            <h3>Danh sách hóa đơn</h3>
            <div class="table-wrapper">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th style="width: 10%;">Mã đơn hàng</th>
                        <th style="width: 20%;">Ngày tạo đơn</th>
                        <th style="width: 20%;">Khách hàng</th>
                        <th style="width: 15%;">Phương thức thanh toán</th>
                        <th style="width: 15%;">Thành tiền</th>
                        <th style="width: 15%;">Trạng thái</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hd in list_bill %}
                    <tr>

                        <td>{{hd.id_don_hang}}</td>
                        <td>
                            <form method="post" class="d-inline">
                                <input type="hidden" name="id_bill" value="{{ hd.id_don_hang }}">
                                <button type="submit" class="btn btn-link">{{ hd.ngay_dat_hang.strftime('%Y-%m-%d') }}
                                </button>
                            </form>
                        </td>
                        <td>{{hd.ten_user}}</td>
                        <td>{{hd.pttt}}</td>
                        <td>{{hd.tong_gia}}</td>
                        <td>{{hd.trang_thai}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if page>1 %}
            <div class="pagination justify-content-end mt-4">
                {% for p in range(1,page+1) %}
                <li class="page-item"><a class="page-link" href="{{url_for('bill',page=p)}}">{{p}}</a></li>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <!-- Content: Details of selected PhieuNhapSach -->
        <div class="col-md-8 pt-3 w-100">
            {% if selected_bill %}
            <h5>Chi tiết đơn hàng: {{ selected_bill.id }}</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-stt">#</th>
                    <th class="col-book">Tên sách</th>
                    <th class="col-cate">Thể loại</th>
                    <th class="col-author">Tác giả</th>
                    <th class="col-quantity">Số lượng</th>
                </tr>
                </thead>
                <tbody>
                {% for ct in list_bill_detail %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ ct.ten_sach }}</td>
                    <td>{{ ct.ten_the_loai }}</td>
                    <td>{{ ct.tac_gia }}</td>
                    <td>{{ ct.soLuong }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}