{% extends 'layout/base.html' %}
{% block content%}
<h1 class="text-center text-success mt-1">GIỎ HÀNG</h1>

{% if carts%}
    <table class="table">
        <tr>
            <td></td>
            <td></td>
            <td>Tên sản phẩm</td>
            <td>Đơn giá</td>
            <td>Số lượng</td>
            <td></td>
        </tr>
        {% for c in carts %}
        <tr data-product-id="{{ c.id }}" data-ten="{{ c.ten }}" data-donGia=" {{c.donGia}}">
            <td><input type="checkbox" class="product-checkbox"  /></td>
            <td><img src="{{ c.image }}" alt="Product Image" class="img-fluid" style="height: 10em"></td>
            <td>{{ c.ten }}</td>
            <td>{{ c.donGia }}</td>
            <td>
                <input type="number" value="{{ c.soLuong }}" class="form-control">
            </td>
            <td>
                <button class="btn btn-danger">&times;</button>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<div  class="alert alert-info mt-1">Không có sản phẩm trong giỏ!</div>

{% endif %}
<div class="mt-1">
    <a title="Thanh toán" class="nav-link d-flex align-items-center me-3" href="/payment">
        <button class="btn btn-success" id="checkout-btn" onclick="collectSelectedProducts()">Thanh toán</button>
    </a>
</div>

{% endblock %}