{% extends 'layout/base_user_profile.html' %}

{% block title %}
Thay đổi thông tin
{% endblock %}

{% block profile_content%}
<div class="bg-white mt-2 w-100">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded mt-5 w-100"
                                                                                         src="{{current_user.anhDaiDien}}">
            </div>
        </div>
        <div class="col-md-9">
            <div class="p-3 py-5">
                <div class="col-lg-9 col-md-8">
                    <div class="profile-card">
                        <h4 class="text-center">Đổi mật khẩu</h4>
                        <hr>
                        <div class="mb-3">
                            {% with messages = get_flashed_messages(category_filter=['error']) %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="mb-1 alert alert-danger">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            {% with messages = get_flashed_messages(category_filter=['success']) %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="mb-3 alert alert-success">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            {% with messages = get_flashed_messages(category_filter=['info']) %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="mb-3 alert alert-success">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                        <form method="post" action="{{url_for('changePassword')}}">
                            <div class="mb-3">
                                <label for="oldPass" class="form-label">Mật khẩu cũ</label>
                                <input type="password" class="form-control" id="oldPass" name="old"
                                       placeholder="Nhập mật khẩu cũ">
                            </div>
                            <div class="mb-3">
                                <label for="newPass" class="form-label">Mật khẩu mới</label>
                                <input type="password" class="form-control" id="newPass" name="new"
                                       placeholder="Nhập mật khẩu mới">
                            </div>
                            <div class="mb-3">
                                <label for="confirmPass" class="form-label">Xác nhận mật khẩu</label>
                                <input type="password" class="form-control" id="confirmPass" name="confirm"
                                       placeholder="Nhập lại mật khẩu mới">
                            </div>
                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
