{% extends 'layout/base.html' %}
{% block css %}
<link href="{{ url_for('static', filename='css/home.css')}}" rel="stylesheet">
{% endblock %}
{% block content%}
<div id="demo" class="carousel slide container slide-banner w-100" data-bs-ride="carousel" data-bs-interval="5000">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner banner-slideshow">
        <div class="carousel-item banner-slideshow-item active">
            <img src="https://cdn0.fahasa.com/media/magentothem/banner7/BlackFridayCGS_Banner_840x320.png"
                 alt="Los Angeles"
                 class="d-block w-100 img-fluid">
        </div>
        <div class="carousel-item banner-slideshow-item">
            <img src="https://cdn0.fahasa.com/media/magentothem/banner7/TrangCTT2511_Mainbanner_840x320.jpg"
                 alt="Chicago"
                 class="d-block w-100 img-fluid">
        </div>
        <div class="carousel-item banner-slideshow-item">
            <img src="https://cdn0.fahasa.com/media/magentothem/banner7/Diamond_1124_Slide_840x320.png" alt="New York"
                 class="d-block w-100 img-fluid">
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev butn-banner-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next butn-banner-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>
<h2 class="list-header">SÁCH BÁN CHẠY</h2>
<div class="carousel container">
    <div class="row">
        <div id="product-slideshow-container" class="carousel slide product-slideshow" data-bs-ride="carousel"
             data-bs-interval="3000">
            <div class="carousel-indicators mt-10">
                <button type="button" data-bs-target="#product-slideshow-container" data-bs-slide-to="0"
                        class="active"></button>
                <button type="button" data-bs-target="#product-slideshow-container" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#product-slideshow-container" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner p-4">
                <div class="carousel-item active">
                    <div class="row">
                        {% for i in range(0,5)%}
                        <div class="product-link col-6 col-md-4 col-lg-2 flex-grow-1 d-flex justify-content-center mb-4">
                            <div class="card product-card">
                                <a href="{{ url_for('productDetail', sach_id=sach[i].id) }}"><img
                                        src="{{sach[i].image}}"
                                        class="card-img-top"
                                        alt="Product">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-truncate">
                                        {{sach[i].ten}}
                                    </h5>
                                    <div>
                                        <span class="text-danger fw-bold fs-5">{{sach[i].donGia}} đ</span>
                                    </div>
                                    <button class="btn btn-outline-danger rounded-pill px-4 py-2 w-100">
                                        Thêm vào giỏ hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        {% for i in range(5,10)%}
                        <div class="product-link col-6 col-md-4 col-lg-2 flex-grow-1 d-flex justify-content-center mb-4">
                            <div class="card product-card">
                                <a href="{{ url_for('productDetail', sach_id=sach[i].id) }}"></a>
                                <img src="{{sach[i].image}}"
                                     class="card-img-top"
                                     alt="Product">
                                <div class="card-body">
                                    <h5 class="card-title text-truncate">
                                        {{sach[i].ten}}
                                    </h5>
                                    <div>
                                        <span class="text-danger fw-bold fs-5">{{ sach[i].donGia }}đ</span>
                                    </div>
                                    <button class="btn btn-outline-danger rounded-pill px-4 py-2 w-100">
                                        Thêm vào giỏ hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        {% for i in range(10,15)%}
                        <div class="product-link col-6 col-md-4 col-lg-2 flex-grow-1 d-flex justify-content-center mb-4">
                            <div class="card product-card">
                                <a href="{{ url_for('productDetail', sach_id=sach[i].id) }}">
                                    <img src="{{sach[i].image}}"
                                         class="card-img-top"
                                         alt="Product">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-truncate">
                                        {{sach[i].ten}}
                                    </h5>
                                    <div>
                                        <span class="text-danger fw-bold fs-5">{{sach[i].donGia}}đ</span>
                                    </div>
                                    <button class="btn btn-outline-danger rounded-pill px-4 py-2 w-100">
                                        Thêm vào giỏ hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev butn-banner-prev custom-btn-prev" type="button"
                    data-bs-target="#product-slideshow-container"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon d-none"></span>
                <i class="bi bi-chevron-left"></i> <!-- Sử dụng biểu tượng Bootstrap Icons -->
            </button>

            <button class="carousel-control-next butn-banner-next custom-btn-next" type="button"
                    data-bs-target="#product-slideshow-container"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon d-none"></span>
                <i class="bi bi-chevron-right"></i> <!-- Sử dụng biểu tượng Bootstrap Icons -->
            </button>
        </div>
    </div>
</div>
{% endblock %}