
{% extends 'admin/model/edit.html' %}

{% block tail %}
    {{ super() }}

 <div class="container mt-4">
        <h4>Chi tiết nhập sách</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên Sách</th>
                    <th>Thể Loại</th>
                    <th>Tác Giả</th>
                    <th>Số Lượng</th>
                </tr>
            </thead>
<!--            <tbody>-->
<!--                {% for book in books %}-->
<!--                <tr>-->
<!--                    <td>{{ loop.index }}</td>-->
<!--                    <td>{{ book.ten }}</td>-->
<!--                    <td>{{ book.theLoai.ten if book.theLoai else 'Không xác định' }}</td>-->
<!--                    <td>{{ book.tacGia }}</td>-->
<!--                    <td>-->
<!--                        <input type="number" name="so_luong" min="1" value="1" class="form-control">-->
<!--                        <input type="hidden" name="sach_id" value="{{ book.id }}">-->
<!--                    </td>-->
<!--                </tr>-->
<!--                {% endfor %}-->
<!--            </tbody>-->
        </table>
    </div>
{% endblock %}
