{% extends 'layout/base.html' %}
{% block css %}
<link href="{{ url_for('static', filename='css/import.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row flex-grow-1 mt-5">
    <!-- Sidebar -->
    <div class="col-lg-3 col-md-4 d-md-block pb-4">
        <div class="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item"><a href="{{url_for('import_book')}}" class="nav-link text-dark">Phiếu nhập sách</a></li>
                <hr>
                <li class="nav-item"><a href="{{url_for('create_import')}}" class="nav-link text-dark active-menu">Lập phiếu nhập sách</a></li>
                <hr>
                <li class="nav-item"><a href="{{url_for('add_book')}}" class="nav-link text-dark">Thêm sách</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}