{% extends 'layout/base.html' %}
{% block css %}
<link href="{{ url_for('static', filename='css/import.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
<style>
</style>
<div class="row flex-grow-1 mt-5">
    <!-- Sidebar -->
    <div class="col-lg-3 col-md-4 d-md-block pb-4">
        <div class="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item"><a href="{{url_for('import_book')}}" class="nav-link text-dark">Phiếu nhập sách</a>
                </li>
                <hr>
                <li class="nav-item"><a href="{{url_for('create_import')}}" class="nav-link text-dark active-menu">Lập
                    phiếu nhập sách</a></li>
                <hr>
                <li class="nav-item"><a href="{{url_for('add_book')}}" class="nav-link text-dark">Thêm sách</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9 col-md-8">
        <!--Form lập phiếu nhập sách-->
        <div class="mt-4">
            <h3 class="mb-4">Nhập Sách</h3>
            <form method="post" id="nhapSachForm">
                <!-- Ngày nhập kho -->
                <div class="mb-3">
                    <label for="ngayNhap" class="form-label">Ngày nhập kho:</label>
                    <input type="date" class="form-control" id="ngayNhap" name="ngayNhap" value="{{ today }}">
                </div>

                <!-- Thanh tìm kiếm -->
                <div class="mb-3">
                    <label for="searchSach" class="form-label">Tìm kiếm sách:</label>
                    <input type="text" id="searchSach" class="form-control" placeholder="Nhập tên sách" name="q">
                    <div id="searchResults" class="list-group mt-1"></div>
                </div>

                <!-- Bảng hiển thị sách được chọn -->
                <h5>Sách được chọn</h5>
                <table class="table table-bordered mb-4">
                    <thead>
                    <tr>
                        <th class="col-stt">Mã sách</th>
                        <th class="col-book">Tên sách</th>
                        <th class="col-cate">Thể loại</th>
                        <th class="col-author">Tác giả</th>
                        <th class="col-quantity">Số lượng tồn kho</th>
                    </tr>
                    </thead>
                    <tbody id="selectedSachTable"></tbody>
                </table>

                <!-- Bảng nhập sách -->
                <h5>Nhập sách</h5>
                <table class="table table-bordered mb-4">
                    <thead>
                    <tr>
                        <th style="width:10%;">Mã sách</th>
                        <th style="width:35%;">Tên sách</th>
                        <th style="width:15%;">Thể loại</th>
                        <th style="width:20%;">Tác giả</th>
                        <th style="width:10%;">Số lượng</th>
                        <th style="width:10%;"></th>
                    </tr>
                    </thead>
                    <tbody id="nhapSachTable">
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" id="addRow">Thêm dòng mới</button>
                <button type="submit" class="btn btn-success">Xác nhận nhập sách</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/importCreate.js')}}"></script>
{% endblock %}